html,
body,
div,
h1,
h2,
h3,
p,
dt,
dl,
dd,
ul,
main,
img,
audio,
nav,
header,
a,
footer,
button,
label,
span,
input {
	margin: 0;
	padding: 0;
	border: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #020659;
}

header {
    margin-top: 90px;
    color: white;
    background-image: linear-gradient(to right, #2104D9, #000);      
    padding: 5px 20px;
}

h1 {
    font-size: 1.25em;
    color: #FFF;
    line-height: 2em;
}

h2 {
    color: #590242;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    padding-left: 20px;
}

h3 {
    text-transform: uppercase;
    margin-top: 6px;
}

section h2 {
    padding-top: 50px;
}

#trending h3 {
    color: #590242;
}

#playlists h3, #curated h3 {
    color: #FFF;
}

h2, h3 {
    font-size: 1em;
}

section > p {
    color: #FFF;
}

p, dl, dd {
    font-size: 1em;
}

dt {
    font-style: italic;
    padding-right: 5px;
    color: #590242;
}

dl {
    margin-top: 10px;
    display: flex;
    color: #590242;
}

dd {
    margin-left: 10px;
}

footer p {
    font-size: .75em;
}

footer {
    color: #590242;
    text-align: center;
    background-color: #FFF;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 5px;
}

#playlists {
    background-color: #2699FB;
}

nav, #curated {
    background-color: #020873;
}

nav a:hover {
    background-color: #590242;
}

nav li {
    list-style-type: none;
}

nav {
    position: absolute;
    top: 0;
    z-index: 1;
}

#title{
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    margin: auto;
}

button {
    text-decoration: none;
    background-color: #590242;
    color: #FFF;
    text-align: center;
    padding: 5px 35px;
    border-radius: 2px;
    border: none;
}

button:hover {
    background-color: #020659;
}

#trending {
    background-color: #FFF;
}

#playlists {
    background-color: #FFF;
}

#playlists .scroll {
    background-color: #2699FB;
}

#playlists section {
    background-color: #0D8DFB;
    padding: 5px;
}

#curated {
    background-color: #FFF;
}

#curated section {
    background-color: #020659;
    padding: 5px;
}

#curated .scroll {
    background-color: #020873;
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 241px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 60px;
    width: 350px;
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-play-button {
    background-color: #FFF;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}

@media screen and (min-width: 375px) {
    body {
        margin: 0 auto;
        width: 375px;
    }

    h2 {
        color: #590242;
    }

    nav li a {
        display: block;
        padding: 20px;
        padding-right: auto;
        text-decoration: none;
        color: #FFF;
        left: 90px;
    }

    nav {
        width: 375px;
        padding-bottom: 30px;
    }

    ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }

    button {
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 834px) {
    header {
        padding: 20px;
    }
    body {
        width: 834px;
        margin: 0 auto;
    }

    nav {
        width: 834px;
        height: 100px;
        padding-bottom: 0px;
    }

    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    label span, input {
        display: none;
    }

    nav li {
        width: 85px;
        text-align: center;
        margin-left: 80px;
    }

    nav li a {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    #title {
        margin-left: -70px;
    }

    button {
        float: right;
        margin-right: 30px;
    }

    #playlists {
        margin-top: 36.5px;
    }

    #playlists, #curated {
        float: left;
        width: 417px;
        margin-bottom: 20px;
    }

    #playlists .scroll, #curated .scroll {
        overflow-x: hidden;
        overflow-y: auto;
        height: 300px;
    }

    #playlists img, #curated img {
        float: left;
    }

    #playlists p, #playlists h3, #curated p, #curated h3 {
        text-align: center;
    }

    #playlists section, #curated section{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 375px;
    }
}
